---
layout: base
cover_photo: blog-cover.jpg
photo_credit: '<a href="https://www.flickr.com/photos/lim_lik_wei/5960796646/">Brandon LLW</a> <a href="http://creativecommons.org/licenses/by-nc/2.0/">cc</a>'

---
<div class="blog-cover" style="{% if page.cover_photo %}background-image:url(/images/{{ page.cover_photo }});{% endif %} background-color:#498DE3;">
    
    <section>
        <div class="container">
            <h1>{{ site.info.title }}</h1>
            {% if site.info.subtitle %}<h3>{{ site.info.subtitle }}</h3>{% endif %}
        	
        	<div class="connect">
	            {% if site.info.twitter %}
	            <a href="https://twitter.com/{{ site.info.twitter }}" title="Follow on Twitter" target="_blank"><i class="icon icon-twitter"></i></a>
	            {% endif %}
	            {% if site.info.facebook %}
	            <a href="http://facebook.com/{{ site.info.facebook }}" title="Like on Facebook" target="_blank"><i class="icon icon-facebook"></i></a>
	            {% endif %}
	            <a href="/feed.xml" title="RSS Feed">
	                <i class="icon icon-rss"></i>
	            </a>
				{% if site.info.calendar %}
	            <a href="https://www.google.com/calendar/render?cid={{ site.info.calendar }}" title="Subscribe to Google Calendar" target="_blank"><i class="icon icon-calendar"></i></a>
	            {% endif %}
            </div>
        </div>
    </section>
</div>


<article class="container">
{% for post in paginator.posts %}
  {% unless post.draft %}
    <section class="index">
        <!-- {% if post.author.image %}<img src="/images/{{ post.author.image }}" class="avatar">{% endif %}-->
        <div>
            <h2 class="title"><a href="{{ post.url }}" rel="prefetch">{{ post.title }}</a></h2>
            <p>{{ post.excerpt }}</p>
            <div class="meta">
                By <address>{{ post.author.name }}</address> &mdash;
                <time pubdate datetime="{{ post.date | date: "%Y-%d-%B" }}" title="{{ post.date | date: "%B %d, %Y" }}">{{ post.date | date: "%B %d, %Y" }}</time>
            </div>
        </div>
        <hr>
    </section>
    {% endunless %}
    {% endfor %}
    <section class="pagination" style="text-align:center">
      {% if paginator.previous_page %}
        {% if paginator.previous_page == 1 %}
        <a href="/" class="btn btn-outline">‹ Newer</a>
        {% else %}
        <a href="/page{{ paginator.previous_page }}" class="btn btn-outline">‹ Newer</a>
        {% endif %}
      {% endif %}
      {% if paginator.next_page %}
        <a href="/page{{ paginator.next_page }}" class="btn btn-outline">Older ›</a>
      {% endif %}
    </section>
</article>
