---
layout: base
---
{% if page.cover_photo %}
<div class="article-cover">
    <div>
        <img src="/images/{{ page.cover_photo }}" class="image">
    </div>
</div>
{% else %}
<div style="background-color:#498DE3; height: 50px;"></div>
{% endif %}
<article>

    <div class="container">
        <header>
            <div class="meta">
                By <address><a rel="author" href="{{ page.author.link }}" title="{{ page.author.name }}" target="_blank">{{ page.author.name }}</a></address> &mdash;
                <time pubdate datetime="{{ page.date | date: "%Y-%d-%B" }}" title="{{ page.date | date: "%B %d, %Y" }}">{{ page.date | date: "%B %d, %Y" }}</time>
            </div>
            <h1 class="title">{{ page.title }}</h1>
            {% if page.subtitle %}<h2 class="subtitle">{{ page.subtitle }}</h2>{% endif %}
        </header>

        <section>
            {{ content }}
            {% if page.social %}
                {% include _social.html %}
            {% endif %}
            {% if page.paper.paperlink %}<br>You can find the full paper here: <strong><a rel="paper" href="{{ page.paper.paperlink }}" title="{{ page.paper.title }}" target="_blank">{{ page.paper.title }}</a></strong>
            {% else %}
            <br>You can find more information about the paper here: <strong><a rel="paper" href="{{ page.author.website }}" title="{{ page.paper.title }}" target="_blank">{{ page.paper.title }}</a></strong>
            {% endif %}
                
        </section>

        <footer>
            <address>
                {% if page.author.image %}<img src="/images/{{ page.author.image }}">{% endif %}
                <div class="about">Written by <strong><a rel="author" href="{{ page.author.website }}" title="{{ page.author_name }}" target="_blank">{{ page.author.name }}</a></strong>. {% if page.author.twitter %}You can follow {% if page.author.gender == "male" %}him{%endif%}{% if page.author.gender == "female" %}her{%endif%} on twitter: <strong><a rel="author" href="https://twitter.com/{{ page.author.twitter }}" title="{{ page.author.twitter }}" target="_blank">@{{ page.author.twitter }}</a></strong>{%endif%}<br>
                <span class="muted">{{ page.author.bio }}</span>
                </div>
                <div style="clear:both;"></div>
            </address>

        </footer>

        {% if site.info.disqus.shortname %}
            {% if page.disqus %}
                <section>
                    {% include _disqus.html %}
                </section>
            {% endif %}        
        {% endif %}
    </div>
</article>
